/* * { padding: 0;
    margin: 0; 
} */

canvas { display: block; margin: auto; }


body, html {
    background-color: #000;
}

.heading > h1 {
    font-family: serif;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

.game-over-text, .heading {
    color: #fff;
    text-align: center;
}

.options > button {
    min-width: 100px;
}
